<?
	$show_toolbar = ($this->report_control_panel || $this->report_csv_export || $this->report_pdf_export) ? true : false;

?>

<?
if($this->report_date_search_enabled){
$this->render_partial($this->get_behavior_dir('partials/_report_date_search.htm'));
}
?>


<div class="list_filter_container">
	<?
	if ($this->report_render_filters){
		$this->filter_render();
	}
	?>
</div>

<? if ($show_toolbar): ?>
	<div class="navbar scroll-toolbar">
		<div class="navbar-inner">
<? endif ?>


		<? if ($this->report_control_panel): ?>
				<div class="container">

				<!-- Collapsed button -->
				<ul class="nav toolbar-expand">
					<li><a href="javascript:;" data-toggle="collapse" data-target=".nav-collapse"><i class="icon-reorder"></i></a></li>
				</ul>

				<!-- Main toolbar -->
				<div class="nav-collapse collapse">

					<ul class="nav scroll-left">
						<li><a href="javascript:;"><i class="icon-caret-left"></i></a></li>
					</ul>

					<div class="scroll-area pull-left">
						<div class="scroll-content">
							<? $this->render_partial($this->report_control_panel); ?>
						</div>
					</div>

					<ul class="nav scroll-right">
						<li><a href="javascript:;"><i class="icon-caret-right"></i></a></li>
					</ul>

				</div>

		<? endif ?>

				<? if ($this->report_csv_export || $this->report_pdf_export || $this->report_display_variants): ?>
				<div id="report_control" class="navbar-form inactive" style="float:right;">
					<ul class="nav">

						<? if(is_array($this->report_display_variants) && count($this->report_display_variants) > 0):?>
						<li style="margin-top: 4px; margin-right:10px; min-width:175px;">
							<?= $this->render_partial($this->get_behavior_dir('partials/_report_display_options.htm'));?>
						</li>
						<? endif; ?>

						<? if($this->report_csv_export):?>
						<li><?=backend_button('Export', 'table', $this->report_get_export_csv_url() )?></li>
						<?endif?>

						<? if($this->report_pdf_export):?>
						<li><?=backend_button('Print', 'print', $this->report_get_export_pdf_url()) ?></li>
						<?endif?>



					</ul>

				</div>
				<? endif ?>


		<? if ($this->report_control_panel): ?>
			</div>
		<? endif ?>

<? if ($show_toolbar): ?>
	</div>
</div>
<? endif ?>


<? if ($this->report_sidebar_panel): ?>
	<table class="listSidebarLayout">
		<tr>
			<td class="sidebar"><? $this->render_partial($this->report_sidebar_panel) ?></td>
			<td class="list">
<? endif ?>
<?
	if ($this->report_top_partial)
		$this->render_partial($this->report_top_partial);
?>

<div style="clear: both"></div>
	<?=Phpr_Form::open_tag(array('id'=>$this->report_get_form_id())) ?>

	<?
	$scrollable = $this->report_scrollable || (isset($this->report_options['report_scrollable']) && $this->report_options['report_scrollable']);
?>
	<div id="<?= $this->report_get_container_id() ?>" class="listContainer <? if ($scrollable): ?>scrollableList<? endif ?>">
		<?
			if (!$this->report_custom_partial){
				$this->report_render_partial('report_report');
		    } else {
				$this->render_partial($this->report_custom_partial);
			}
		?>
	</div>
	</form>


<? if (!$this->list_no_js_declarations): ?>
	<script type="text/javascript">
		function reportReload(show_load_indicator) {
			return jQuery('#<?= $this->report_get_form_id() ?>').phpr().post('<?= $this->get_event_handler('on_report_reload') ?>', {
				update: '#<?= $this->report_get_container_id() ?>',
				success: function(){ jQuery('#<?= $this->report_get_container_id() ?>').trigger('reportUpdated'); },
				customIndicator: LightLoadingIndicator,
				hideOnSuccess: true
			}).send();
		}
	</script>
<? endif ?>
<? if ($this->report_sidebar_panel): ?>
			</td>
		</tr>
	</table>
<? endif ?>
