<style>

	.pdf-table{
		padding:5px;
	}
	.pdf-table td{
		font-size:100%;
		border-bottom:1px solid #cccccc;
	}

	.pdf-table td.indent{
		text-indent: 15px;
	}


	.pdf-table tr.small {
		font-size:75%;
	}

	.pdf-table tr.spacer > td{
		font-size:100%;
		border-bottom:0px solid #ffffff;
		border-top:0px solid #ffffff;
		border-left:0px solid #ffffff;
		border-right:0px solid #ffffff;
	}

	.pdf-table td.number{
		text-align: right;
		text-indent: 0;
	}

	.pdf-table th{
		font-size:100%;
		font-weight: bold;
		border-bottom: 1px solid #7bafcc;
		border-width:1px;
		padding:5px;
		text-indent: 0;
	}

	.pdf-table th.number{
		text-align: right;
		text-indent: 0;
	}

	.pdf-table tr.heading > td {
		font-size: 120%;
		font-weight: bold;
		line-height:150%;
		border-bottom:0px solid #ffffff;
		text-indent: 0;
	}

	.pdf-table tr.important_row > td {
		background-color: #CCCCCC;
		border-top:2px solid #000000;
		border-bottom:2px solid #000000;
		text-indent: 0;
	}


	.pdf-table tr.balance_totals > td {
		font-weight: bold;
		background-color: #f9f9f9;
		border-top:1px solid #000000;
		border-bottom:1px solid #000000;
	}

</style>